.wrapper-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid rgb(211, 205, 205);
  padding: 10px;
  width: 80%;
}
.inner-day{
  width: 14%;
}
.select{
  margin-left: 60%;
}
.wrapperTitle{
  display: flex;
}
.wrapperTitle p{
  margin-top: 1.4rem;
  margin-left: 20px;
}
.square {
  width: 100%;
  height: 100%;
}
.inner-square{
  cursor: pointer;
}
